<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
  <div class="card-trip mb-4 flex-fill p-3">
    <div class="card-body text-center">
      <div class="justify-content-center mb-3">
        <%= image_tag booking.spaceship.photo, alt: booking.spaceship.name, class: "rounded-4 d-block mx-auto", style: "height: 150px;  object-fit: cover;" %>
        <h5 class="card-title"><%= booking.spaceship.name %></h5>
        <p class="card-text">
          <div>Pick up date: <%= booking.start_date %></div>
          <div>Drop off date: <%= booking.end_date %></div>
          <div>$ <%= number_with_delimiter(booking.total_price, :delimiter => ',') %></div>
          <div>Status: <%= booking.status.capitalize %></div>
        </p>
      </div>
    </div>
  </div>
</div>
