<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-5 fixed-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto gap-5" >
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Booking Manager",  owner_bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log Out", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Anakin Skywalker", "#", class: "nav-link", style: "pointer-events: none; color: inherit; text-decoration: none;" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "user_thumbnail", class: "avatar" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
