<div class=container>
  <% @spaceships.each do |spaceship| %>
    <p><%= @spaceship.name %></p>
    <p><%= @spaceship.price %></p>
    <p><%= @spaceship.max_speed %></p>
    <p><%= @spaceship.user %></p>
    <%= link_to "Reserve the spaceship ", "new_spaceship_path" %>
    <%= link_to "Back to top", "spaceships_path" %>
  <% end  %>
</div>
