<div>
  <%= simple_form_for booking do |f| %>
    <div data-controller="datepicker">
      <%= f.input :start_date,
                  label: 'Start Date',
                  as: :string,
                  input_html: { data: { datepicker_target: "startDate" } } %>
      <%= f.input :end_date,
                  label: "End Date",
                  as: :string,
                  input_html: { data: { datepicker_target: "endDate" } } %>
    </div>
    <p>Total Price: $<%= @spaceship.price %></p>
    <%= f.submit "Book your Spaceship", class: 'btn btn-primary mt-3' %>
  <% end %>
</div>
