<%= simple_form_for @spaceship, html: { multipart: true } do |f| %>
  <div class="form-inputs">
    <%= f.input :photo, as: :file, label: "Upload a picture", input_html: { class: "form-control" } %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :max_speed %>
    <%= f.input :size %>
    <%= f.input :price %>
    <%= f.input :features %>
  </div>

  <div class="form-actions d-flex justify-content-between mt-3">
    <%= link_to "Cancel", spaceships_path, class: "btn btn-outline-light" %>
    <%= f.button :submit, "Create Spaceship", class: "btn btn-primary" %>
  </div>
<% end %>
